<html>
    <header>
        <a class="home-link" href="/"><img class="home-icon" src="/images/home.png" alt="home icon">HOME</a>
        <h1>LANGUAGE LIBRARY</h1>
        <h2>LANGUAGES</h2>

    </header>
</html>