<html>
    <head>
        <title>Library</title>
        <link rel="stylesheet" href="/root.css">
        <link rel="stylesheet" href="/global.css">
        <link rel="stylesheet" href="/home.css">
    </head>
    <body>
        <%- include("partials/header") %>
        <div class="global">
            <%- include("partials/sidebar") %>

            <div class="categories">
                <% categories.forEach(cat => { %>
                    <a class="category" href="/global/resources/<%= cat.category.toLowerCase() %>">
                      <%= cat.category %>
                    </a>
                <% }) %>
            </div>
            
        </div>

        <div class="btn-container">
            <a href="/update/categories" id="update-btn">UPDATE CATEGORIES</a>
            <a href="/global/resources/all" id="update-btn">VIEW ALL RESOURCES</a>
        </div>

    </body>

</html>