<html>
    <head>
        <title>Library</title>
        <link rel="stylesheet" href="/root.css">
        <link rel="stylesheet" href="/global.css">
    </head>
    <body>
        <%- include("partials/header") %>
        <div class="global">
            <%- include("partials/sidebar") %>

            <div class="categories">
                <a class="category learning" href="/global/learning" data-set="learning">
                    <h2>learning</h2>
                </a>

                <a class="category culture" href="/global/culture" data-set="culture">
                    <h2>culture</h2>
                </a>

                <a class="category community" href="/global/community" data-set="community">
                    <h2>community</h2>
                </a>

                <a class="category tools" href="/global/tools" data-set="tools">
                    <h2>tools</h2>
                </a>

                <a class="category resources" href="/global/resources" data-set="resources">
                    <h2>resources</h2>
                </a>
            </div>
            
        </div>





    </body>

</html>