<html>
    <head>
        <title>Library</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include("partials/header") %>
        <div class="home">
            <a class="section-1" href="/global">
                <h1>GLOBAL - ALL LEVELS</h1>
                <p>General resources to make you progress in any language</p>
            </a>

            <hr></hr>

            <div class="section-2">
                <a id="french" href="/french" data-language="french"> FRENCH </a>
                <a id="english" href="/english" data-language="english"> ENGLISH </a>
                <a id="spanish" href="/spanish" data-language="spanish"> SPANISH </a>
                <a id="italian" href="/italian" data-language="italian"> ITALIAN </a>
                <a id="german" href="/portuguese" data-language="portuguese"> PORTUGUESE </a>
                <a id="german" href="/german" data-language="german"> GERMAN </a>
            </div>
        </div>





    </body>

</html>