<html>
    <head>
        <title>Library</title>
        <link rel="stylesheet" href="/home.css">
        <link rel="stylesheet" href="/root.css">
    </head>
    <body>
        <%- include("partials/header") %>
        <div class="home">
            <a class="section-1" href="/global/categories">
                <h1>GLOBAL - ALL LEVELS</h1>
                <p>General resources to make you progress in any language</p>
            </a>

            <hr></hr>

            <div class="section-2">
                <% languages.forEach(lang => { %>
                  <a href="/<%= lang.language.toLowerCase() %>">
                    <%= lang.language %>
                  </a>
                <% }) %>
            </div>
        </div>

        <a href="/update/languages" id="update-btn">UPDATE LANGUAGES</a>

    </body>

</html>