<head>
    <title>Update</title>
    <link rel="stylesheet" href="/root.css">
    <link rel="stylesheet" href="/update.css">
  </head>
  <body>
    <%- include("partials/header") %>
  
    <div class="update-form">
      <div class="update-header">
        <h1 class="update-language">Update</h1>
        <a href="/languages/add" class="add-btn">+ Add Language</a>
      </div>
  
      <div class="update-list">
          
        <% languages.forEach(lang => { %>
          <div class="language-item">
            <span><%= lang.language %></span>
            <div class="actions">
              <!-- <a href="/languages/edit/<%= lang.id %>" class="edit-btn">Edit</a> -->
              <form action="/languages/delete/<%= lang.id %>" method="POST" class="delete-form">
                <button type="submit" class="delete-btn">Delete</button>
              </form>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </body>
  