 
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 5vh 10vw;
  }
  
  .section-1,
  .section-2 {
    text-align: center;
    transition: all 0.3s ease;
  }
  
  .section-1 {
    display: flex;
    padding: 20px;
    flex-direction: column;
    border-radius: 20px;
    gap: 15px;
  }
  
  .section-1 p {
    font-style: italic;
  }
  
  .section-1:hover {
    background-color: #004cff2a;
    transform: scale(1.01);
  }
  
  hr {
    border: none;
    width: 80%;
    height: 1px;
    background-color: #000000;
    margin: 50px 0;
  }
  
  .section-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 30px;
    justify-items: center;
    justify-content: stretch;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 20px 50px;
  }
  
  .section-2 a {
    width: 100%;   
    display: flex;          
    align-items: center;     
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #182848;
    transition: all 0.3s ease;
    text-transform: uppercase;
  }
  
  .section-2 a:hover {
    background-image: linear-gradient(45deg, #4b6bb7b2, #182848);
    color: white;
    transform: scale(1.02);
  }

  #update-btn {
    max-width: 250px;
    padding: 20px 40px;
    background-color: #182848;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
    text-align: center;
    font-size: 1rem;
    justify-items: center;
    justify-content: center;
    display: flex;
  }

  #update-btn:hover {
    background-color: #4b6bb7;
  }
  