* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  html, body {
    width: 100%;
    max-width: 100%;
  }
  
  
  body {
    scroll-behavior: smooth;
  }
  
  header {
    background: linear-gradient(90deg, #4b6bb7b2, #182848);
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    max-width: 100%;
  }
  
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 5vh 10vw;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .section-1,
  .section-2 {
    text-align: center;
    transition: all 0.3s ease;
  }
  
  .section-1 {
    display: flex;
    padding: 20px;
    flex-direction: column;
    border-radius: 20px;
    gap: 15px;
  }
  
  .section-1 p {
    font-style: italic;
  }
  
  .section-1:hover {
    background-color: #004cff2a;
    transform: scale(1.01);
  }
  
  hr {
    border: none;
    width: 80%;
    height: 1px;
    background-color: #000000;
    margin: 50px 0;
  }
  
  .section-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 30px;
    justify-items: center;
    justify-content: stretch;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 20px 50px;
  }
  
  .section-2 a {
    width: 100%;   
    display: flex;          
    align-items: center;     
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #182848;
    transition: all 0.3s ease;
  }
  
  .section-2 a:hover {
    background-image: linear-gradient(45deg, #4b6bb7b2, #182848);
    color: white;
    transform: scale(1.02);
  }
  