* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;

    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background: linear-gradient(90deg, #4b6bb7b2, #182848);
    color: white;
    text-align: center;
    padding: 20px 0;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 5vw 25vh;
}

a {
    text-decoration:none;
    color: inherit;
}

.section-1, .section-2 {
    text-align:center; 
    transition: all 0.3s ease;
}

.section-1 {
    display: flex;
    padding: 20px;
    flex-direction: column;
    border-radius: 20px;
    gap: 15px;

    p {
        font-style: italic;
    }
}
.section-1:hover {
    background-color: #004cff2a;
}

hr {
    border: none;
    width: 100%;
    height: 1px;
    background-color: #000000;
    margin: 50px 0;

}

.section-2 {
    width: 100%;
    display: grid; 
    grid-template-columns: repeat(auto-fill, 150px);
    justify-content: center;
    align-items: center;
    gap: 25px;

    a {
        padding: 10px 20px;
        border-radius: 10px;
        border: 1px solid #182848;
        transition: all 0.3s ease;

        &:hover {
            background-image: linear-gradient(45deg, #4b6bb7b2, #182848);
            color: white;
            transform: scale(1.02);
        }

    }
}